
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_LayoutHeaderScriptsParticalComponent")

  <body>

    @await Component.InvokeAsync("_LayoutNavbarParticalComponent")

    @await Component.InvokeAsync("_LayoutHeaderParticalComponent")


    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <!-- <li class="active">Dashboard</li>-->
                <li><a href="/Home/Index">Dashboard</a></li>
                <li class="active"><a href="/@ViewContext.RouteData.Values["controller"].ToString()/Index"> @ViewContext.RouteData.Values["controller"].ToString()</a></li>
            </ol>
        </div>
    </section>


    <!-- main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @await Component.InvokeAsync("_LayoutMenuParticalComponent")

                   
                </div>

                <!-- website overview -->
                <div class="col-md-9">
                    <div class="panel panel-default">
                        @RenderBody()

                    </div>
                   
                  
                </div>
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("_LayoutFooterParticalComponent")

    <!-- modals -->
    <!-- add page modal -->
    <div class="modal fade"
         id="addPage"
         taxindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button class="close"
                                type="button"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Page Title</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Page Title" />
                        </div>
                        <div class="form-group">
                            <label>Page Body</label>
                            <textarea name="editor1"
                                      class="form-control"
                                      placeholder="Page Body"></textarea>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" /> Published </label>
                        </div>
                        <div class="form-group">
                            <label> Meta Tags </label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Add Some Tags..." />
                        </div>
                        <div class="form-group">
                            <label> Meta Description </label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Add Meta Description..." />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default"
                                type="button"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-primary" type="submit">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_LayoutScriptsParticalComponent")

  </body>
</html>
