
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Website Overview</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div class="well dash-box">
                <h2>
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                        203
                    </span>
                    <h4>Users</h4>
                </h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2>
                    <span class="glyphicon glyphicon-list-alt"
                          aria-hidden="true">
                        12
                    </span>
                    <h4>Pages</h4>
                </h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2>
                    <span class="glyphicon glyphicon-pencil"
                          aria-hidden="true">
                        33
                    </span>
                    <h4>Posts</h4>
                </h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2>
                    <span class="glyphicon glyphicon-stats"
                          aria-hidden="true">
                        9334
                    </span>
                    <h4>Visitors</h4>
                </h2>
            </div>
        </div>
    </div>
